
$accentColor = #39f//默认主题颜色
/*
$textColor = red//默认字体颜色
$borderColor = #eaecef//默认边框颜色
$codeBgColor = #282c34//默认背景颜色*/

.sidebar-group >ul >li >a.sidebar-link.active{
  background-color :#39f;
  color : white;
  ont-size: 1em;
  font-weight: 400;
  display: block!important;
  padding: .35rem 1rem .35rem .75rem;
  line-height: 1.4;
  margin: 0 1rem 0 1.5rem;
  box-sizing: border-box;
  border-radius: .25rem;
}
.sidebar-sub-headers a.sidebar-link.active{
  color : #39f!important;
  background-color : white!important;
}
.sidebar-sub-headers a.sidebar-link{
  box-sizing border-box;
}