// Theme's Palette
@import("/Users/lufangzhou/Documents/work-space/personal/vuepressBlogBackup/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("/Users/lufangzhou/Documents/work-space/personal/vuepressBlogBackup/docs/.vuepress/styles/palette.styl")